div{
    font-family: 'Poppins', sans-serif;
    font-size: large;
}
body div{
    padding: 20px;
}
.portfoliophoto{
    width: auto;
    text-align:center; 
    padding:20px; 
}
#aboutmeblock{
    display: flex;
    align-items:center;
    backdrop-filter: blur(10px);
}
img{
    width: 400px; 
    height:auto; 
}
nav{
    font-family: 'Poppins', sans-serif;
}
nav a{
    padding: 10px;
}
nav form {
    border-right: 0px;
}
.aboutmeline, .educationline{
    padding: 5px;
}
.carousel-caption {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(10px);
}
.icon{
    padding: 5px;
    width: 100px;
    height: auto;
    filter: invert(51%) sepia(80%) saturate(2845%) hue-rotate(161deg) brightness(94%) contrast(101%);
}
#contactcards{
    display: flex;
    align-items:center;
}
.card{
    max-width: 225px;
}
#email_form{
    min-width: 500px;
    backdrop-filter: blur(10px);
}
#contact > h1{
    text-align: right;
    
}
ul > li{
    display: flex;
    backdrop-filter: blur(10px);
}
li, h2{
    backdrop-filter: blur(10px);
}
.aboutmeboldinfo {
    display:block; 
    width:100px;
    font-size: 20px;
    color: lightslategrey;
}
h1{
    color: #d3d3d3;
}
p{
    backdrop-filter: blur(10px);
}
body {
    background-image: url('backgroundscrolldown.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.boldinfo{
    display: block;
    font-size: 20px;
    color: lightslategrey;
    padding-right: 10px;
}   
