div{
    font-family: 'Poppins', sans-serif;
}
body div{
    padding: 20px;
}
.portfoliophoto{
    width: auto;
    text-align:center; 
    padding:20px; 
}
#aboutmeblock{
    display: flex;
    align-items:center;
}
img{
    width: 400px; 
    height:auto; 
}
nav{
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
nav a{
    padding: 10px;
}
nav form {
    border-right: 0px;
}
.aboutmeline{
    box-sizing: border-box;
    padding: 5px;
}
.carousel-caption {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(10px);
}
.icon{
    padding: 5px;
    width: 100px;
    height: auto;
    filter: invert(51%) sepia(80%) saturate(2845%) hue-rotate(161deg) brightness(94%) contrast(101%);
}
#contactcards{
    display: flex;
    align-items:center;
}
.card{
    max-width: 225px;
}
#email_form{
    min-width: 500px;
}
